<style>

@media only screen and (max-width: 1280px) {

#nav-one > li > .dropdown-menu.megamenu.column1,
#nav-one > li > .dropdown-menu.megamenu.column2,
#nav-one > li > .dropdown-menu.megamenu.column3,
#nav-one > li > .dropdown-menu.megamenu.column4,
#nav-one > li > .dropdown-menu.megamenu.column5,
#nav-one .hiden_menu .dropdown-menu {
    padding: 20px;
    min-width: 55vw !important;
    min-height: 90vh !important;
    top:20vh;
    margin-left:10%;
    border-radius: 0;
    position:fixed;
    font-size: 20%;
    overflow: auto; 
}

}

    /* Stiluri pentru ecrane mici (de exemplu, laptopuri) */
@media only screen and (max-width: 1680px) {
#nav-one > li > .dropdown-menu.megamenu.column1,
#nav-one > li > .dropdown-menu.megamenu.column2,
#nav-one > li > .dropdown-menu.megamenu.column3,
#nav-one > li > .dropdown-menu.megamenu.column4,
#nav-one > li > .dropdown-menu.megamenu.column5,
#nav-one .hiden_menu .dropdown-menu {
    padding: 20px;
    min-width: 55vw;
    min-height: 70vh;
    top:20vh;
    left: 30vw!important;
    border-radius: 0;
    position:fixed;
    font-size: 20%;
    overflow: auto; 
}
}

/* Stiluri pentru ecrane mari (de exemplu, calculatoare desktop) */
@media only screen and (min-width: 1681px) {

#nav-one > li > .dropdown-menu.megamenu.column1,
#nav-one > li > .dropdown-menu.megamenu.column2,
#nav-one > li > .dropdown-menu.megamenu.column3,
#nav-one > li > .dropdown-menu.megamenu.column4,
#nav-one > li > .dropdown-menu.megamenu.column5,
#nav-one .hiden_menu .dropdown-menu {
    padding: 20px;
    min-width: 55vw;
    min-height: 70vh;
    top:20vh;
    left: 34vw!important;
    border-radius: 0;
    position:fixed;
    font-size: 20%;
    overflow: auto; 
}
}

@media only screen and (min-width: 1980px) {

#nav-one > li > .dropdown-menu.megamenu.column1,
#nav-one > li > .dropdown-menu.megamenu.column2,
#nav-one > li > .dropdown-menu.megamenu.column3,
#nav-one > li > .dropdown-menu.megamenu.column4,
#nav-one > li > .dropdown-menu.megamenu.column5,
#nav-one .hiden_menu .dropdown-menu {
    padding: 20px;
    min-width: 55vw;
    min-height: 70vh;
    top:20vh;
    left: 38vw!important;
    border-radius: 0;
    position:fixed;
    font-size: 20%;
    overflow: auto; 
}
}
</style>

<div class="box-category-top">
	<div class="box-heading">{{ heading_subtitle }} <i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </div>
  <div class="box-content-category">
<ul id="nav-one" class="dropmenu box-category">
  {% for category in categories %}
        {% if category.children %}
			<li class="top_level dropdown"><a href="{{ category.href }}">{{ category.name }}</a>
			<div class="dropdown-menu megamenu column{{ category.column }}">
            <div class="dropdown-inner">
              {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
				<ul class="list-unstyled childs_1">
                {% for child in children %}
					<!-- 2 Level Sub Categories START -->
					{% if child.childs %}
					  <li class="dropdown"><a href="{{ child.href }}">{{ child.name }}</a>
							{#{% if child.image %}<img src="{{ child.image }}"  alt="{{ child.name }}" />{% endif %}#}
						  <div class="dropdown-menu">
			              <div class="dropdown-inner">
			              {% for childs_col in child.childs|batch(child.childs|length / child.column|round(1, 'ceil')) %}
							<ul class="list-unstyled childs_2">
							  {% for childs_2 in childs_col %}
								<li><a href="{{ childs_2.href }}">{{ childs_2.name }}</a></li>
							  {% endfor %}
							</ul>
						  {% endfor %}
						  </div>
						  </div>

					  </li>
					{% else %}
					  <li class="dropdown"><a href="{{ child.href }}">{{ child.name }}</a></li>
					{% endif %}
					<!-- 2 Level Sub Categories END -->
                {% endfor %}
              
			    </ul>
              {% endfor %}
            </div>
			</div>

			</li>
        {% else %}
			<li class="top_level"><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
		{% if blog_enable %}
       	<li> <a href="{{ all_blogs }}">{{ text_blog }}</a></li>       
		{% endif %}
 </ul>
  </div>
  





