<div class="row">
	<div class="col-md-5">
		<h3>
			<i class="fa fa-key"></i>&nbsp;{{text_your_license}}
		</h3>
		{% if (ekipisi is empty) %}
			<input type="hidden" id="license-domain" value="{{ domain }}"/>
			<input type="hidden" id="license-module" value="{{ mid }}"/>
			<div class="license-alerts"></div>
			<div class="license-container"></div>
			<div class="license-form">
				<div class="form-group">
					<label for="license-key">{{ text_enter_your_license }}</label>
					<input type="text" class="form-control" placeholder="{{ text_license_code_placeholder }}" name="feed_metabase[license][licensecode]" id="license-key" value="{{ (whatsapp.license.licensecode is not empty ) ? whatsapp.license.licensecode :'' }}"/>
				</div>
				<button type="button" class="btn btn-success btn-activate">
					<i class="fa fa-check" aria-hidden="true"></i>
					{{ text_activate_license }}</button>
				<div class="pull-right text-right">
					<button type="button" class="btn btn-link btn-block" onclick="window.open('{{ license_ticket_url }}')">{{ text_not_havin_code }}&nbsp;<i class="fa fa-external-link"></i>
					</button>
				</div>
			</div>
			<script type="text/javascript" src="https://support.ekipisi.com.tr/license/validate?lang={{ lang }}&mid={{ mid }}"></script>
		{% else %}
			<input type="hidden" name="feed_metabase[license][name]" value="{{ ekipisi.name }}"/>
			<input type="hidden" name="feed_metabase[license][domain]" value="{{ ekipisi.domain }}"/>
			<input type="hidden" name="feed_metabase[license][expires]" value="{{ ekipisi.expires }}"/>
			<input type="hidden" name="feed_metabase[license][licensecode]" value="{{ ekipisi.licensecode }}"/>
			<table class="table licensed-table">
				<tr>
					<td>{{ license_owner }}</td>
					<td>{{ ekipisi.name }}</td>
				</tr>
				<tr>
					<td>{{ license_domain }}</td>
					<td>
						{{ ekipisi.domain }}
					</td>
				</tr>
				<tr>
					<td>{{ license_expire }}
					</td>
					<td>{{ ekipisi.expires }}</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:center;background-color:#EAF7D9;">{{ license_valid }}</td>
				</tr>
			</table>
		{% endif %}
	</div>
	<div class="col-md-7">
		<div class="box-contents">
			<div class="row">
				<div class="col-md-6">
					<div class="thumbnail text-center">
						<a href="{{ support_url }}" target="_blank">
							<svg width="200" height="200" viewbox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="200" height="200" fill="white"/>
								<path d="M129.062 169.75H117.438C115.694 169.75 114.531 168.588 114.531 166.844C114.531 165.1 115.694 163.938 117.438 163.938H129.062C146.5 163.938 161.031 149.406 161.031 131.969V126.156C161.031 124.412 162.194 123.25 163.938 123.25C165.681 123.25 166.844 124.412 166.844 126.156V131.969C166.844 152.894 149.987 169.75 129.062 169.75Z" fill="#004463"/>
								<path d="M120.344 166.844C120.344 170.331 118.019 172.656 114.531 172.656H108.719C105.231 172.656 102.906 170.331 102.906 166.844C102.906 163.356 105.231 161.031 108.719 161.031H114.531C118.019 161.031 120.344 163.356 120.344 166.844Z" fill="#607D95"/>
								<path d="M158.125 100C156.381 100 155.219 98.8375 155.219 97.0938V79.6562C155.219 77.9125 156.381 76.75 158.125 76.75C159.869 76.75 161.031 77.9125 161.031 79.6562V97.0938C161.031 98.8375 159.869 100 158.125 100ZM36.0625 100C34.3187 100 33.1562 98.8375 33.1562 97.0938V79.6562C33.1562 77.9125 34.3187 76.75 36.0625 76.75C37.8063 76.75 38.9688 77.9125 38.9688 79.6562V97.0938C38.9688 98.8375 37.8063 100 36.0625 100Z" fill="#004463"/>
								<path d="M152.312 97.0938H163.938C167.425 97.0938 169.75 99.4187 169.75 102.906V126.156C169.75 129.644 167.425 131.969 163.938 131.969H152.312V97.0938Z" fill="#607D95"/>
								<path d="M157.544 82.5625C161.031 82.5625 163.938 79.6562 163.356 76.1687C160.45 42.4562 131.969 15.7188 97.0938 15.7188C62.2188 15.7188 33.7375 42.4562 30.8313 76.1687C30.25 79.6562 33.1563 82.5625 36.6438 82.5625C39.55 82.5625 41.875 80.2375 42.4563 77.3313C44.7813 49.4313 68.6125 27.3438 97.675 27.3438C126.738 27.3438 149.988 49.4313 152.894 77.3313C152.313 80.2375 154.638 82.5625 157.544 82.5625Z" fill="#5DF95D"/>
								<path d="M42.4563 76.1687C45.3625 44.2 70.9375 18.625 102.906 15.7188H97.0938C62.2188 15.7188 33.7375 42.4562 30.8313 76.1687C30.25 79.6562 33.1563 82.5625 36.6438 82.5625C39.55 82.5625 41.875 80.2375 42.4563 77.3312C41.875 77.3312 42.4563 76.75 42.4563 76.1687ZM108.719 27.3437C106.975 27.3437 104.65 27.3437 102.906 27.925C129.063 30.8312 149.406 51.7562 152.313 77.9125C152.313 80.8187 155.219 83.1437 158.125 83.1437C161.613 83.1437 163.938 80.2375 163.938 77.3312C160.45 48.85 137.2 27.3437 108.719 27.3437Z" fill="#4BB74B"/>
								<path d="M117.438 114.531H76.75C73.2625 114.531 70.9375 116.856 70.9375 120.344V143.594C70.9375 147.081 73.2625 149.406 76.75 149.406H82.5625V161.031L100 149.406H117.438C120.925 149.406 123.25 147.081 123.25 143.594V120.344C123.25 116.856 120.925 114.531 117.438 114.531Z" fill="#EEF2FA"/>
								<path d="M94.1875 153.475V149.406H88.375C84.8875 149.406 82.5625 147.081 82.5625 143.594V120.344C82.5625 116.856 84.8875 114.531 88.375 114.531H76.75C73.2625 114.531 70.9375 116.856 70.9375 120.344V143.594C70.9375 147.081 73.2625 149.406 76.75 149.406H82.5625V161.031L94.1875 153.475Z" fill="#D5E5F2"/>
								<path d="M47.6875 137.781C44.2 137.781 41.875 135.456 41.875 131.969V97.0938C41.875 93.6062 44.2 91.2812 47.6875 91.2812C51.175 91.2812 53.5 93.6062 53.5 97.0938V131.969C53.5 135.456 51.175 137.781 47.6875 137.781ZM146.5 91.2812C149.988 91.2812 152.312 93.6062 152.312 97.0938V131.969C152.312 135.456 149.988 137.781 146.5 137.781C143.012 137.781 140.688 135.456 140.688 131.969V97.0938C140.688 93.6062 143.012 91.2812 146.5 91.2812Z" fill="#4B6C85"/>
								<path d="M47.6875 126.156C44.2 126.156 41.875 123.831 41.875 120.344V131.969C41.875 135.456 44.2 137.781 47.6875 137.781C51.175 137.781 53.5 135.456 53.5 131.969V120.344C53.5 123.831 51.175 126.156 47.6875 126.156ZM146.5 126.156C143.012 126.156 140.688 123.831 140.688 120.344V131.969C140.688 135.456 143.012 137.781 146.5 137.781C149.988 137.781 152.312 135.456 152.312 131.969V120.344C152.312 123.831 149.988 126.156 146.5 126.156Z" fill="#40657C"/>
								<path d="M41.875 131.969H30.25C26.7625 131.969 24.4375 129.644 24.4375 126.156V102.906C24.4375 99.4187 26.7625 97.0938 30.25 97.0938H41.875V131.969Z" fill="#607D95"/>
								<path d="M33.1562 97.0938V117.438C33.1562 120.925 30.8313 123.25 27.3438 123.25H24.4375V126.156C24.4375 129.644 26.7625 131.969 30.25 131.969H41.875V97.0938H33.1562ZM161.031 97.0938V117.438C161.031 120.925 163.356 123.25 166.844 123.25H169.75V126.156C169.75 129.644 167.425 131.969 163.938 131.969H152.312V97.0938H161.031Z" fill="#4B6C85"/>
								<path d="M112.206 129.062H81.9813C80.2375 129.062 79.075 127.9 79.075 126.156C79.075 124.412 80.2375 123.25 81.9813 123.25H112.206C113.95 123.25 115.113 124.412 115.113 126.156C115.113 127.9 113.95 129.062 112.206 129.062ZM100.581 140.688H81.9813C80.2375 140.688 79.075 139.525 79.075 137.781C79.075 136.037 80.2375 134.875 81.9813 134.875H100.581C102.325 134.875 103.488 136.037 103.488 137.781C103.488 139.525 102.325 140.688 100.581 140.688Z" fill="#99B5CE"/>
							</svg>

						</a>
						<hr/>
						<div class="caption" style="text-align:center;padding-top:10px;">
							<h3>{{ text_support }}</h3>
							<p style="height:40px">{{ text_support_desc }}</p>
							<p style="padding-top: 5px;">
								<a href="{{ open_ticket_url }}" target="_blank" class="btn btn-block btn-success">{{ text_support_ticket }}</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail text-center">
						<a href="https://www.ekipisi.com.tr" target="_blank">
							<svg width="200" height="200" viewbox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="200" height="200" fill="white"/>
								<path d="M13 78.9487H39.5498V86.7828H13V78.9487Z" fill="#369BE5"/>
								<path d="M13 94.0538H35.0009V101.888H13V94.0538Z" fill="#369BE5"/>
								<path d="M13 110.342H39.3782V118.176H13V110.342Z" fill="#369BE5"/>
								<path d="M77.8125 78.9487H67.0667L55.4111 91.5926V78.9487H47.4518V118.12H55.4111V103.29L58.478 100.215L68.6574 118.12H78.1501L63.8796 94.2791L77.8125 78.9487Z" fill="#369BE5"/>
								<path d="M84.1295 78.9487H92.0887V118.12H84.1295V78.9487Z" fill="#369BE5"/>
								<path d="M112.385 78.9487H99.4816V118.176H107.441V102.507H112.385C118.982 102.507 124.326 97.2472 124.326 90.7534C124.326 84.2597 118.982 78.9487 112.385 78.9487ZM112.385 94.6733H107.435V86.7828H112.379C114.542 86.7828 116.361 88.5738 116.361 90.7591C116.361 92.9443 114.548 94.6733 112.385 94.6733Z" fill="#369BE5"/>
								<path d="M130.065 78.9487H138.025V118.12H130.065V78.9487Z" fill="#369BE5"/>
								<path d="M161.073 94.2791C160.729 94.1665 160.392 94.0538 159.934 93.9412C156.295 93.0457 154.876 91.9249 154.818 89.9143C154.761 88.6245 155.162 88.0106 155.499 87.6783C156.524 86.6139 158.515 86.2253 159.024 86.2253C162.492 86.2253 164.14 87.2897 166.697 88.9118L168.116 89.8073L172.265 83.1502L170.954 82.311C168.053 80.4637 164.815 78.3911 159.018 78.3911C156.97 78.3911 152.707 79.2303 149.749 82.2547C147.7 84.3836 146.682 87.1264 146.848 90.2578C147.019 94.0088 148.782 97.0275 151.963 99.1001C154.241 100.61 156.684 101.229 157.988 101.561L158.275 101.618L158.446 101.674C162.595 103.071 165.044 105.031 165.044 107.16C165.044 108.168 163.962 111.13 160.666 111.13C158.904 111.13 154.183 111.13 149.978 106.709L144.176 112.082C146.905 114.937 150.086 116.897 153.668 118.013C156.512 118.852 158.898 118.964 160.661 118.964C164.243 118.964 167.481 117.511 169.816 114.937C171.807 112.752 172.997 109.902 172.997 107.16C172.997 104.36 171.916 101.73 169.873 99.4944C167.836 97.3035 164.883 95.5688 161.073 94.2791Z" fill="#369BE5"/>
								<path d="M180.029 78.9487H187.989V118.12H180.029V78.9487Z" fill="#369BE5"/>
								<path d="M84.1352 68.0114H92.0944V75.5527H84.1352V68.0114Z" fill="#369BE5"/>
								<path d="M130.065 68.0172H138.025V75.5585H130.065V68.0172Z" fill="#369BE5"/>
								<path d="M180.041 68H188V75.5413H180.041V68Z" fill="#369BE5"/>
								<path d="M154.618 123.459H162.577V131H154.618V123.459Z" fill="#369BE5"/>
							</svg>
						</a>
						<hr/>
						<div class="caption" style="text-align:center;padding-top:10px;">
							<h3>{{ text_ekipisi }}</h3>
							<p style="height:40px">
								{{ text_ekipisi_desc }}
							</p>
							<p style="padding-top: 5px;">
								<a class="btn btn-primary btn-block" href="https://www.opencart.com/index.php?route=marketplace/extension&filter_member=ekipisi" target="_blank">{{ text_view_all_extensions }}</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
