<footer>
	<div class="footer-top">
		<div class="container">
			<div class="row">
		{{ footertop }}
	</div>
	</div>
</div>
 <div id="footer" class="container">
     <div class="row">
     <div class="footer-blocks">
      {% if informations %}
      <div id="info" class="col-sm-3 column">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
        </ul>
      </div>
      {% endif %}
    {#<div class="col-sm-3 column">#}
    {#    <h5>{{ text_service }}</h5>#}
    {#    <ul class="list-unstyled">#}
    {#      <li><a href="{{ contact }}">{{ text_contact }}</a></li>#}
    {#      <li><a href="{{ return }}">{{ text_return }}</a></li>#}
    {#      <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>#}
    {#    </ul>#}
    {#  </div>#}
      <div id="extra-link" class="col-sm-3 column">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ special }}">{{ text_special }}</a></li>
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
                  <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
          {#<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>#}
          {#<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>#}
      {#  </ul>#}
      </div>
      <div id="account_link" class="col-sm-3 column">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div> 
{{ footerright }}
    </div>
</div>
  </div>


{#<div class="manufacture_block">#}
{#    <div class="container">#}
{#      <div class="row">#}
{#       {% if manufacturer_list %}#}
{#        <h5 class="manufacturer_title">{{ text_manufacturer }} :</h5>#}
{#        <ul>#}
{#       {% for manufacturer in manufacturer_list %}#}
{#           <li class="manufacturer_item"><a href="{{ manufacturer.href }}">{{ manufacturer.name }}</a></li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#     {% endif %}#}
{#    </div>#}
{#    </div>#}
{#  </div>#}



<div class="bottomfooter">
<div class="container">
<div class="row">
 <div class="content_footer_bottom"> {{ footerbottom }}</div>	
 <p class="powered">Created by Prasada Group © 2024</p>
     {#{{ powered }}</p>#}
</div>
</div>
</div>
  
  
  
</footer>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script>
        document.querySelectorAll('.img-responsive').forEach(function(img) {
  img.onerror = function() {
    this.style.display = 'none';
  };
});
document.querySelectorAll('.compare_button').forEach(function(element){
element.remove();
});


</script>
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//--> 
<!-- Theme created by Welford Media for OpenCart 2.0 www.welfordmedia.co.uk -->
</body></html>




