{{ header }}
{{ column_left }}
<style>
    .product-block img {
    width: 300px !important;
    height: auto;
}
@media (max-width: 767px)  {
  .product-block img {
    width: 155px !important;
    height: auto;
    
}
	.cmsbanner-block {
	        display: block;
	}
	.cms-inner-block1{
	       display: none;
	}
	.content-top{
	    display: none;
	}
	
}
@media (min-width: 767px)  {
  .product-block img {
 
    height: auto;
    
}
	.cmsbanner-block {
	        display: none;
	}

	
}


</style>

    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

    <div id="content" class="{{ class }}">
  
{#<div class="container">#}
        <div class="content-top >   
             {{ content_top }}
          
        </div>
        {#</div>#}
     
    {{ content_bottom }}
    
    {{ column_right }}

</div>
<script>
    document.querySelectorAll('.img-responsive').forEach(function(img) {
  img.onerror = function() {
    this.style.display = 'none';
  };
});


document.querySelectorAll('.compare_button').forEach(function(element){
element.remove();
});

</script>
{{ footer }}
