{% if languages|length > 1 %}
<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
  <div class="btn-group">
    <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
      <span class="hidden-xs hidden-sm hidden-md">
      {% for language in languages %}
      {% if language.code == code %} 
      <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">
      {% endif %}
      {% endfor %}
      {{ text_language }}<i class="fa fa-caret-down" aria-hidden="true"></i></span></button>
      <ul class="language-menu" style=" position: absolute; top: calc(100% + 5px); left: -5px; z-index: 1000; background-color: rgb(255, 255, 255); margin-top:-5px">
        {% for language in languages %}
        <li>
          <button class="btn btn-link btn-block language-select" type="button" name="{{ language.code }}"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}" /> {{ language.name }}</button>
        </li>
    
        {% endfor %}
    </ul>
  </div>
  <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
</form>
</div>
{% endif %}
