<nav class="nav-container">
<div class="nav-inner">
<!-- ======= Menu Code START ========= -->
{% if categories %}
<!-- Opencart 3 level Category Menu-->
<div id="menu" class="main-menu">
<div id="res-menu" class="main-menu nav-container1 responsive-menu">
<div class="nav-responsive"><div class="expandable"><i class="fa fa-bars"></i></div> </div>
 
      
      	<span class="res-menu-close"><svg width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64">
  <g>
    <path fill="#1D1D1B" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z"/>
  </g>
</svg></span>
<ul class="main-navigation">
	  	<li><a href="{{ home }}">{{ name }}</a></li>
    	{% for category in categories %}
        {% if category.children %}
			<li><a href="{{ category.href }}">{{ category.name }}</a>

			  {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
				<ul>
                {% for child in children %}
					<!-- 2 Level Sub Categories START -->
					{% if child.childs %}
					  <li class="dropdown"><a href="{{ child.href }}">{{ child.name }}</a>
								{% if child.image %}<img src="{{ child.image }}"  alt="{{ child.name }}" />{% endif %}
						
			              {% for childs_col in child.childs|batch(child.childs|length / child.column|round(1, 'ceil')) %}
							<ul class="col14">
							  {% for childs_2 in childs_col %}
								<li><a href="{{ childs_2.href }}">{{ childs_2.name }}</a></li>
							  {% endfor %}
							</ul>
						  {% endfor %}
						
					  </li>
					{% else %}
					  <li><a href="{{ child.href }}">{{ child.name }}</a></li>
					{% endif %}
					<!-- 2 Level Sub Categories END -->
                {% endfor %}
              
			    </ul>
              {% endfor %}
            

			</li>
        {% else %}
			<li><a href="{{ category.href }}">{{ category.name }}</a></li>
       {% endif %}
        {% endfor %}
  </ul>
</div>
<div class="static-menu">
	<ul id="static-menu">
		<li><a href="{{ home }}">{{ name }}</a></li>
		{#<li class="dropdown"><a href="#">{{ text_manufacturer }} <i class="fa fa-angle-down" aria-hidden="true"></i></a>#}
		{# brands dropdown #}
			<div class="dropdown-menu">
        		<div class="dropdown-inner">
  
  				<div class="manufacturer-content-home">
        {% for manufacturer in manufacturers %}
        <div class="brand-name">
        <a href="{{ manufacturer.href }}">
        	{% if manufacturer.thumb !='image/' %}
        <img src="{{ manufacturer.thumb }}" alt="brands" class="img-responsive reg-image"/>
        	{% endif %}
        	<span>{{ manufacturer.name }}</span>
        </a>
    	</div>
        {% endfor %}
        
    </div>
            <span class="more-brand"><a href="{{ manufacturer }}">{{text_all}} <i class="fa fa-angle-right"></i></a></span>
       </div>
        	</div>
	{# brands dropdown #}
		</li>
		<li class="hot menu-item"><a href="{{ special }}">{{ text_special }}</a></li>
		<li><a href="{{ contact }}">{{ text_contact }}</a></li>
    	<li class="toplink"><a href="{{all_blogs}}">{{ text_blog }} </a></li>
	</ul>
</div>
  

  
  
  
</div>
{% endif %}
</div>
</nav>   


