<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<link href="view/javascript/bootstrap/css/bootstrap.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="all" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>

</head>
<body>
    {% set currentDate = "now"|date("Y-m-d") %}
<button id="PDF">Descarcă PDF</button>
<button id="sendemail">Trimite Email</button>
<div class="container2" style="width:100%">


<div class="container" style="width:80%">
  {% for order in orders %}
  <div style="page-break-after: always;">
    <h1>Cont spre plată #{{ order.order_id }}</h1>
    <table class="table table-bordered" style="font-size:12px;">
        Data:{{ currentDate }}
        
     
      <thead>
        <tr>
          <td colspan="2" >{{ text_order_detail }}</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 50%;"><address style="font-size:12px">
             
            <strong>Furnizor: BIRO SOLUTIONS S.R.L.</strong><br />
            <b>Adresa:</b> {{ order.store_address }}
            </address>
             <div style="font-size:12px">
            <b>Cont de decontare: </b>MD82ML000000022516301653 la BC'Moldindconbank'S.A. suc.'Zorile'<br />
               <b>Cont de decontare: </b>IBAN: MD58VI022511400000176MDL
         VICBMD2X   
         B.C.'VICTORIABANK'S.A.
'<br />
            <b>Cod: </b>MOLDMD2X330<br />
            <b>Cod fiscal: </b>1018600036731<br />
              <b>Cod TVA: </b> 0610147<br />
            <b>{{ text_email }}</b> {{ order.store_email }}<br />
            <b>{{ text_website }}</b> <a href="{{ order.store_url }}">{{ order.store_url }}</a></td>
            </div>
            
          <td style="width: 50%; font-size:12px;"><b>{{ text_date_added }}:</b> {{ order.date_added }}<br />
            {% if order.invoice_no %}
            <b>{{ text_invoice_no }}</b> {{ order.invoice_no }}<br />
            {% endif %}
            <b>{{ text_order_id }}</b> {{ order.order_id }}<br />
            <b>{{ text_email }}:</b> {{ order.email }}<br />
            {% if order.shipping_method %}
            <b>{{ text_telephone }}</b> {{ order.telephone }}<br />
            
            {% endif %}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered" style="font-size:12px;">
      <thead>
        <tr>
          <td style="width: 50%;"><b>{{ text_payment_address }}</b></td>
          <td style="width: 50%;"><b>{{ text_shipping_address }}</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><address>
            {{ order.payment_address }}
            </address></td>
          <td><address>
            {{ order.shipping_address }}
            </address></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b>{{ column_product }}</b></td>
          <td><b>{{ column_model }}</b></td>
          <td class="text-left"><b>{{ column_quantity }}</b></td>
          <td class="text-left"><b>{{ column_price }}</b></td>
          <td class="text-left"><b>{{ column_total }}</b></td>
        </tr>
      </thead>
      <tbody>
        {% for product in order.product %}
        <tr>
          <td>{{ product.name }}
            {% for option in product.option %}
            <br />
            &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>
            {% endfor %}</td>
          <td>{{ product.model }}</td>
          <td class="text-left">{{ product.quantity }}</td>
          <td class="text-left">{{ product.price }}</td>
          <td class="text-left">{{ product.total }}</td>
        </tr>
        {% endfor %}
        {% for voucher in order.voucher %}
        <tr>
          <td>{{ voucher.description }}</td>
          <td></td>
          <td class="text-right">1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-right">{{ voucher.amount }}</td>
        </tr>
        {% endfor %}
      {% for total in order.total %}
    {% if loop.index0 != 1 %}
        <tr>
            <td class="text-left" colspan="4"><b>{{ total.title }}</b></td>
            <td class="text-left">{{ total.text }}</td>
        </tr>
    {% endif %}
{% endfor %}

      </tbody>
    </table>
     <div>
      <p style="font-size: 110%"><b>Conducatorul</b></p>
      <p style="margin-top: -12px;font-size: 80%"><b>Руководитель</b></p>
      <img src="/image/IMG_20230914_230108_671-removebg-preview.png" alt="Stampila" width="110" height="auto" style="margin-left: 100px; margin-top: -80px">
      <img src="/image/IMG_20230914_230105_690-removebg-preview.png" alt="semnatura1" width="80" height="auto" style="margin-left: -40px; margin-top: -50px">
      
      
  </div>
  </div>
  
  {% endfor %}
 
  
  

</div>
  </div>
<script>
document.getElementById('PDF').addEventListener('click', function () {
    var element = document.querySelector('.container');
    
   var temoelement= element.style.width;
    element.style.width = "100%";
     
    var orderId = document.querySelector('.container h1').innerText.split('#')[1];
    var fileName = 'Cont spre plată #' + orderId + '.pdf';
    
    var opt = {
        margin:       [0.5, 0.5, 0.5, 0.5], // margini de 0.5 inci pe toate laturile
        filename:     fileName,
        image:        { type: 'jpeg', quality: 1.0 }, // calitate maximă pentru imagini
        html2canvas:  { scale: 3, useCORS: true }, // scalare mai mare pentru o rezoluție mai bună și suport CORS
        jsPDF:        { unit: 'in', format: 'a4', orientation: 'portrait' }, // schimbă formatul în A4
        
    };
    
    html2pdf().set(opt).from(element).save().then(()=>{
       element.style.width =temoelement; 
    });
    
});
</script>

</body>
</html>


