{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
       <button id="save-settings-button" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
        <i class="fa fa-code pull-right text-muted" data-toggle="modal" data-target="#settingsModal"></i>
      </div>
      <div class="panel-body">
       <form method="post" enctype="multipart/form-data" id="form-fb-marketing" class="form-horizontal">
          <!-- Navigation Buttons -->
          <div class="col-md-2">
			<ul class="nav nav-pills nav-stacked" id="configTabs">
				<li class="active"><a href="#pixel-config" data-toggle="pill" >{{ text_pixel_configuration }}</a></li>
				<li><a href="#advanced_matching_data" data-toggle="pill">{{ text_advanced_matching_data }}</a></li>
				<li class="hidden"><a href="#marketing-api" data-toggle="pill">{{ text_marketing_api }}</a></li>
				<li><a href="#about" data-toggle="pill">{{ text_about }}</a></li>
			</ul>
		  </div>
          <!-- Content -->
		  <div class="col-md-10">
			<div class="tab-content">
          		<div class="tab-pane fade in active" id="pixel-config">
          		  <ul class="nav nav-tabs">
					 {% for store in stores %} 
						 <li><a href="#tab-store{{ store.store_id }}" data-toggle="tab">{{ store.name }}</a></li>
					 {% endfor %}
				  </ul>
	 			  <div class="tab-content">	
					  {% for store in stores %} 
					  <div class="tab-pane fade" id="tab-store{{ store.store_id }}">
						  <div class="form-group">
							<label class="col-sm-2 control-label" for="fb-marketing-status{{ store.store_id }}">{{ entry_status }}</label>
							<div class="col-sm-10">
							 <input type="checkbox" {{ analytics_fb_marketing_status[store.store_id] is not empty ? 'checked=\"checked\"' }} id="analytics_fb_marketing_status{{ store.store_id }}" value="{{ analytics_fb_marketing_status[store.store_id] is not empty ? 'on' : 'off' }}" name="analytics_fb_marketing_status[{{ store.store_id }}]" class="form-control" data-toggle="toggle" data-on="{{ text_enabled }}" data-off="{{ text_disabled }}" data-onstyle="success" data-offstyle="danger" data-size="large">
							</div>
						  </div>
						  <div class="form-group">
							<label for="analytics_fb_marketing_pixel_id_{{ store.store_id }}" class="col-sm-2 control-label"><span data-toggle="tooltip" data-html="true" data-delay="{"show":25,"hide":500}" title="{{ help_pixel_id }}">{{ entry_pixel_id }}</span></label>
							<div class="col-sm-10">
							  <input type="text" id="analytics_fb_marketing_pixel_id_{{ store.store_id }}" name="analytics_fb_marketing_pixel_id[{{ store.store_id }}]" value="{{ analytics_fb_marketing_pixel_id[store.store_id] }}" placeholder="{{ entry_pixel_id }}" class="required form-control">
							</div>
						  </div>
						  <div class="form-group">
							<label for="analytics_fb_marketing_product_catalog_id_{{ store.store_id }}" class="col-sm-2 control-label"><span data-toggle="tooltip" data-html="true" data-delay="{"show":25,"hide":500}" title="{{ help_product_catalog_id }}">{{ entry_product_catalog_id }}</span></label>
							<div class="col-sm-10">
							 <input type="text" id="analytics_fb_marketing_product_catalog_id_{{ store.store_id }}" name="analytics_fb_marketing_product_catalog_id[{{ store.store_id }}]" value="{{ analytics_fb_marketing_product_catalog_id[store.store_id] }}" placeholder="{{ entry_product_catalog_id }}" class="required form-control" >
							</div>
						  </div>
						  <div class="form-group">
							<label for="analytics_fb_marketing_advanced_matching_{{ store.store_id }}" class="col-sm-2 control-label"><span data-toggle="tooltip" data-html="true" data-delay="{"show":25,"hide":5000}" title="{{ help_advanced_matching }}">{{ entry_advanced_matching }}</span></label>
							<div class="col-sm-10">
							 <input type="checkbox" {{ analytics_fb_marketing_advanced_matching[store.store_id] is not empty ? 'checked="checked"' }} id="analytics_fb_marketing_advanced_matching_{{ store.store_id }}" name="analytics_fb_marketing_advanced_matching[{{ store.store_id }}]" class="form-control" data-toggle="toggle">
							</div>
						  </div>
						  <div class="form-group">
							<label for="analytics_fb_marketing_values_vat_inc_{{ store.store_id }}" class="col-sm-2 control-label"><span data-toggle="tooltip" data-html="true" data-delay="{"show":25,"hide":5000}" title="{{ help_values_vat_inc }}">{{ entry_values_vat_inc }}</span></label>
							<div class="col-sm-10">
							 <input type="checkbox" {{ analytics_fb_marketing_values_vat_inc[store.store_id] is not empty ? 'checked="checked"' }} id="analytics_fb_marketing_values_vat_inc_{{ store.store_id }}" name="analytics_fb_marketing_values_vat_inc[{{ store.store_id }}]" class="form-control" data-toggle="toggle">
							</div>
						  </div>
						  <div class="form-group">
							<label for="analytics_fb_marketing_manual_only_mode_{{ store.store_id }}" class="col-sm-2 control-label"><span data-toggle="tooltip" data-html="true" data-delay="{"show":25,"hide":5000}" title="{{ help_manual_only_mode }}">{{ entry_manual_only_mode }}</span></label>
							<div class="col-sm-10">
							 <input type="checkbox" {{ analytics_fb_marketing_manual_only_mode[store.store_id] is not empty ? 'checked="checked"' }} id="analytics_fb_marketing_manual_only_mode_{{ store.store_id }}" name="analytics_fb_marketing_manual_only_mode[{{ store.store_id }}]" class="form-control" data-toggle="toggle">
							</div>
						  </div>
						   <div class="form-group">
							<label for="analytics_fb_marketing_pid_{{ store.store_id }}" class="col-sm-2 control-label"><span data-toggle="tooltip" data-html="true" data-delay="{"show":25,"hide":5000}" title="{{ help_pid  }}">{{ entry_pid }}</span></label>
							<div class="col-sm-10">
								 <select id="analytics_fb_marketing_pid_{{ store.store_id }}" name="analytics_fb_marketing_pid[{{ store.store_id }}]" class="form-control" >
							 		{% for key, value in pid_options %}
							 			<option value="{{ key }}" {{ key == analytics_fb_marketing_pid[store.store_id] ? 'selected="selected"' : '' }} >{{ value }}</option>
							 		{% endfor %}
								 </select>
							 </div>
						  </div>
						  <div class="form-group">
							<label for="analytics_fb_marketing_product_feed_{{ store.store_id }}" class="col-sm-2 control-label"><span data-toggle="tooltip" data-html="true" data-delay="{"show":25,"hide":5000}" title="{{ help_product_feed }}">{{ entry_product_feed }}</span></label>
							<div class="col-sm-10">
								<div class="row">
									<div class="col-sm-1">
										<input type="checkbox" {{ analytics_fb_marketing_product_feed[store.store_id] is not empty ? 'checked="checked"' : '' }} id="analytics_fb_marketing_product_feed_{{ store.store_id }}" name="analytics_fb_marketing_product_feed[{{ store.store_id }}]" class="form-control" data-toggle="toggle">
							 		</div>
							 		<div class="col-sm-11">
										{% for language in languages %}
									 	<div class="input-group">
											<input type="url" id="feed-url-{{ store.store_id }}-{{ language.code}}" value="{{ store.ssl is empty ? store.url : store.ssl }}{{ data_feed }}&lang={{ language.code }}" class="form-control" readonly>
											<span class="input-group-btn">
												<a href="{{ store.ssl is empty ? store.url : store.ssl }}{{ data_feed }}&lang={{ language.code }}" target="_blank" class="btn btn-default">Go!</a>
												<a onclick="copyToClipboard('feed-url-{{ store.store_id }}-{{ language.code}}');" class="btn btn-default">Copy To Clipboard</a>
											</span>
										</div><!-- // .input-group -->
										{% endfor %}
									</div> <!-- // .col-sm-9 -->
								</div>	<!-- // .row -->
							  </div>
							</div>
						  <div class="table-responsive">
						  <h3>{{ entry_events }}</h3>
						  <table class="table table-condensed table-hover">
						  	<thead>
						  		<th>{{ text_status }}</th>
						  		<th>{{ text_name }}</th>
						  		<th>{{ text_path }}</th>
						  		<th>{{ text_value }}</th>
						  	</thead>
						  	<tbody>
							  {% for key, value in events %}
						  		<tr>
									<td>
									{% if analytics_fb_marketing_events[store.store_id][key]['status'] is not empty %}
										<a  id="active-{{ key }}_{{ store.store_id }}" onclick="{% if permission %}deactivate('{{ key  }}_{{ store.store_id }}');{% endif %}" class="btn btn-sm btn-success" data-toggle="tooltip" title="{{ text_enabled }}">
										<i class="fa fa-minus-circle fa-rotate-90 fa-2x"></i>
										</a>
										<input name="analytics_fb_marketing_events[{{ store.store_id }}][{{ key  }}][status]" id="event-status-{{ key  }}_{{ store.store_id }}" type="hidden" value="1">
									{% else %}
										<a  id="inactive-{{ key  }}_{{ store.store_id }}" onclick="{% if permission %}activate('{{ key  }}_{{ store.store_id }}');{% endif %}" class="btn btn-sm btn-danger" data-toggle="tooltip" title="{{ text_disabled }}">
										<i class="fa fa-minus-circle fa-rotate-90 fa-2x"></i>
										</a>
										<input name="analytics_fb_marketing_events[{{ store.store_id }}][{{ key  }}][status]" id="event-status-{{ key  }}_{{ store.store_id }}" type="hidden" value="0">
									{% endif %}
									</td>
									<td >{{ value }}</td>
									<td >
										<input type="text" {{ analytics_fb_marketing_events[store.store_id][key]['path']|last == '0' ? 'readonly' }} value=" {{ analytics_fb_marketing_events[store.store_id][key]['path']|first is not empty ? analytics_fb_marketing_events[store.store_id][key]['path']|first }}" name="analytics_fb_marketing_events[{{ store.store_id }}][{{ key }}][path]" placeholder="{{ placeholder_path }}" class="form-control"></td>
									<td >
										<input type="text" {{ analytics_fb_marketing_events[store.store_id][key]['value']|last == '0' ? 'readonly' }} value="{{ analytics_fb_marketing_events[store.store_id][key]['value']|first is not empty ? analytics_fb_marketing_events[store.store_id][key]['value']|first }}" name="analytics_fb_marketing_events[{{ store.store_id }}][{{ key }}][value]" placeholder="{{ placeholder_value }}" class="form-control"></td>						  		
						  		</tr>
							   {% endfor %}
							</tbody>
						  </table>
						</div> <!-- // .table-responsive -->
						<hr/>
					    <div class="table-responsive">
						<h3>{{ entry_custom_events }} <small><span class="label bg-primary" onclick="$('#custom-event-help').toggleClass('hidden');"><i class="fa fa-question"></i></span></small></h3>
						<div class="well well-sm hidden" id="custom-event-help">{{ help_custom_events }}</div>
						<table class="table table-condensed table-hover" id="custom-events-{{ store.store_id }}">
							<thead>
						  		<th>{{ text_status }}</th>
						  		<th>{{ text_name }}</th>
						  		<th>{{ text_path }}</th>
						  		<th>{{ text_match }}</th>
						  		<th>{{ text_value }}</th>
						  	</thead>
							<tbody>
								{% for s_id, c_events in analytics_fb_marketing_custom_events %}
							     	{% if s_id == store.store_id and c_events is not empty %}
										{% for row, custom_event in c_events %}
											<tr id="custom-event-row-{{ store.store_id }}_{{ row }}" class="bg-warning">
												<td>
												{% if custom_event.status %}
													<a  id="active-{{ row }}_{{ store.store_id }}" onclick="{% if permission %}deactivate('{{ row }}_{{ store.store_id }}');{% endif %}" class="btn btn-sm btn-success" data-toggle="tooltip" title="{{ text_enabled }}">
													<i class="fa fa-minus-circle fa-rotate-90 fa-2x"></i>
													</a>
													<input name="analytics_fb_marketing_custom_events[{{ store.store_id }}][{{ row }}][status]" id="custom-event-status-{{ row }}_{{ store.store_id }}" type="hidden" value="1">
												{% else %}
													<a  id="inactive-{{ row }}_{{ store.store_id }}" onclick="{% if permission %}activate('{{ row }}_{{ store.store_id }}');{% endif %}" class="btn btn-sm btn-danger" data-toggle="tooltip" title="{{ text_disabled }}">
													<i class="fa fa-minus-circle fa-rotate-90 fa-2x"></i>
													</a>
													<input name="analytics_fb_marketing_custom_events[{{ store.store_id }}][{{ row }}][status]" id="custom-event-status-{{ row }}_{{ store.store_id }}" type="hidden" value="0">
												{% endif %}
												</td>
												<td><select onchange="autofill({{ store.store_id }},{{ row }});" name="analytics_fb_marketing_custom_events[{{ store.store_id }}][{{ row }}][type]" class="form-control">
													{% for event_option in custom_events %}
														<option value="{{ event_option|lower }}" {{ custom_event.type == event_option|lower ? 'selected="selected"' }}>{{ event_option }}</option>
													{% endfor %}
													</select></td>
												<td><input type="text" value="{{ custom_event.path }}" name="analytics_fb_marketing_custom_events[{{ store.store_id }}][{{ row }}][path]" placeholder="{{ placeholder_path }}" class="form-control"></td>
												<td>
													<select name="analytics_fb_marketing_custom_events[{{ store.store_id }}][{{ row }}][match]" class="form-control">
													{% for match_option, match_option_name in match_options %}
														<option value="{{ match_option }}" {{ match_option == custom_event.match ? 'selected="selected"' }}>{{ match_option_name }}</option>
													{% endfor %}
												</td>
												<td><input type="text" value="{{ custom_event.value }}" name="analytics_fb_marketing_custom_events[{{ store.store_id }}][{{ row }}][value]" placeholder="{{ placeholder_value }}" class="form-control"></td>
												<td><button type="button" class="btn-primary" onclick="saveCustomEvent({{ store.store_id }},{{ row }})"><i class="fa fa-save"></i></button><button type="button" class="btn-danger" onclick="removeCustomEvent({{ store.store_id }},{{ row }});"><i class="fa fa-minus-circle"></i></button><button class="btn-default" type="button" onclick="goTo({{ store.store_id }},{{ row }},'{{ store.ssl is empty ? store.url : store.ssl }}');"><i class="fa fa-link"></button></td>
											</tr>
										{% endfor %}
									{% endif %}
								{% endfor %}
							</tbody>
							 <tfoot>
								<tr>
								  <td colspan="5"></td>
								  <td class="text-left"><button type="button" class="btn btn-success pull-right" onclick="addPixelEventRow({{ store.store_id }});"><i class="fa fa-plus"></i></button></td>
								</tr>
							  </tfoot>
						  </table>
						</div> <!-- // .table-responsive -->
					  </div> <!-- // .tab-pane --> 
					  {% endfor %}
				  </div><!-- // .tab-content -->
				</div>
				<div class="tab-pane fade" id="advanced_matching_data">
					<h4>Advanced Matching with the Pixel</h4>
					<p>The Facebook pixel has an advanced matching feature that enables you to send your customer data through the pixel to match more website actions with Facebook users. With this additional data, you can report and optimize your ads for more conversions and build larger re-marketing audiences. You can pass the customer identifiers such as email, phone number that you collect from your website during the check-out, account sign-in or registration process as parameters in the pixel. Facebook will then use this information to match pixel events with Facebook users when the Facebook cookie is not present on the browser that fires the pixel.</p>
				
					{% for key, value in adv_match_types %}
					    <label for="analytics_fb_marketing_advanced_matching_data_{{ key }}" class="checkbox-inline btn btn-default">
						  <input type="checkbox" {{ analytics_fb_marketing_advanced_matching_data[key] is not empty ? 'checked="checked"' : '' }} id="analytics_fb_marketing_advanced_matching_data_{{ key }}" name="analytics_fb_marketing_advanced_matching_data[{{ key }}]" class="form-control" data-toggle="toggle">
						  {{ value }}
						</label>
					{% endfor %}
					<p class="hidden"><small>{{ text_ajax_save }}</small></p>
				</div>
          		<div class="tab-pane fade" id="marketing-api">
          		</div>
          		<div class="tab-pane fade" id="about">
          			<p>To create your Facebook pixel:
						<ol>
						<li>Go to your Facebook Pixel tab in <a href="https://www.facebook.com/ads/manager/pixel/facebook_pixel/" target="_blank">Facebook Ads Manager</a>.</li>
						<li>Click <b>Create a Pixel</b>.</li>
						<li>Enter a name for your pixel. There's only one pixel per ad account, so choose a name that represents your business.</li>
						<li>Make sure you've checked the box to accept the terms.</li>
						<li>Click <b>Create Pixel</b>.</li>
						<li>Copy the Pixel ID and paste it here.</li>
						</ol>
						<a href="https://www.facebook.com/business/help/742478679120153" target="_blank">More</a>
					</p>
          		</div>
          	</div> <!-- // .tab-pane -->
          	</div> <!-- // .tab-content -->
		  </div> <!-- // Content -->
        </form>
    </div>
        <div class="panel-footer"><p>Facebook Pixel & Marketing - v{{ version }} - <a href="http://jorimvanhove.com" target="_blank">Jorim van Hove</a> &copy; 2015 - 2017 - <a href="http://jorimvanhove.com/plugins/facebook-marketing/" target="_blank">Online documentation</a></p></div>
      </div>
    </div>
</div>

<div id="settings-modal"></div>

<script type="text/javascript"><!--
{% if permission %}
	$('#save-settings-button').click(function(){
		validateForm();
	});
	
	function removeCustomEvent(store_id,row) {
		$('#custom-event-row-' + store_id + '_' + row).remove();
		$('#save-settings-button').trigger('click');
	}
{% else %}
	$('#save-settings-button').click(function(){
		$('.alert').remove();
		
		$(".panel-default").before('<div class="alert alert-warning">{{ error_permission }}</div>');
	});
{% endif %}
	
	$(function() {
		$('input[name^=\'analytics_fb_marketing_status\']').change(function() {
		  var value = $(this).val();
			if(value == 'on') {
		 		$(this).val('off');
		 	} else {
		 		$(this).val('on');
		 	}
		})
		
		loadSettingsModal();
	})
	
	$('.checkbox-inline').on('click', function (evt) {
		$(this).find($('input[type^=\'checkbox\']')).bootstrapToggle('toggle');
		saveAdvMatchingData($(this).find($('input[type^=\'checkbox\']')).prop('id'));
		evt.stopPropagation();
		evt.preventDefault();
	})
	
	var custom_event_row = { {{ pixel_event_row_object }} };
	
	function addPixelEventRow(store_id) {
		
		html = ' <tr id="custom-event-row-' + store_id + '_' + custom_event_row[store_id] + '" class="bg-warning">';
		html += '<td><input type="hidden" name="analytics_fb_marketing_custom_events[' + store_id + '][' + custom_event_row[store_id]  + '][status]" value="1"></td>';
		html += '<td ><select onchange="autofill(' + store_id + ',' + custom_event_row[store_id] + ');" name="analytics_fb_marketing_custom_events[' + store_id + '][' + custom_event_row[store_id] + '][type]" class="form-control">';
		{% for event_option in custom_events %}
			html += '<option value="{{ event_option|lower }}">{{ event_option }}</option>';
		{% endfor %}
		html += '</select>';
		html += '</td>';
		html += '<td><input type="text" value="" name="analytics_fb_marketing_custom_events[' + store_id + '][' + custom_event_row[store_id] + '][path]" class="form-control"></td>';
		html += '<td><select name="analytics_fb_marketing_custom_events[' + store_id + '][' + custom_event_row[store_id] + '][match]" class="form-control">';
		{% for match_option, match_option_name in match_options %}
			html += '<option value="{{ match_option }}">{{ match_option_name }}</option>';
		{% endfor %}
		html += '</select>';
		html += '</td>';
		html += '<td><input type="text" value="" name="analytics_fb_marketing_custom_events[' + store_id + '][' + custom_event_row[store_id] + '][value]" class="form-control"></td>';					
		html += '<td><button type="button" class="btn-primary" onclick="saveCustomEvent(' + store_id + ',' + custom_event_row[store_id] + ');"><i class="fa fa-save"></i></button>';
		html += '<button type="button" class="btn-danger" onclick="removeCustomEvent(' + store_id + ',' + custom_event_row[store_id] + ');"><i class="fa fa-minus-circle"></i></button>'
		html += '</td>';							
		html += '</tr>';
		
		$('#custom-events-' + store_id + ' tbody').append(html);
		custom_event_row[store_id]++;

	}
	
	function autofill(store_id,row) {
		var event_type = $('select[name="analytics_fb_marketing_custom_events[' + store_id + '][' + row + '][type]"]').val();
		var path = '';
		var value = '';
		
		switch (event_type) {
			case 'addtocart' : 
			case 'addtowishlist' : 
			case 'pageview' : 
			case 'addpaymentinfo' :
				break;
			case 'viewcontent' : 
				path = 'product/product';
				value = '[product_price]';
				break;
			case 'completeregistration' : 
				path = 'account/success';
				break;
			case 'initiatecheckout' : 
				path = 'checkout/checkout';
				value = '[cart_total]';
				break;
			case 'purchase' : 
				path = 'checkout/success';
				value = '[order_total]';
				break;
			case 'search' :
				path = 'product/search';
				break;
		}
		
		$('input[name="analytics_fb_marketing_custom_events[' + store_id + '][' + row + '][path]"]').val(path);
		$('input[name="analytics_fb_marketing_custom_events[' + store_id + '][' + row + '][value]"]').val(value);
	}
	
	function saveCustomEvent(store_id,row) {
		$('#save-settings-button').trigger('click');
	}
	
	function goTo(store_id, row, base) {
		var pathVal = $("input[name='analytics_fb_marketing_custom_events[" + store_id + "][" + row + "][path]']").val();
		var match = $("select[name='analytics_fb_marketing_custom_events[" + store_id + "][" + row + "][match]']").val();
		
		switch (match) {
			case 'route':
				var path = 'index.php?route=' + pathVal; 
				break;
			case 'strict':
				var path = 'index.php' + pathVal; 
				break;
			case 'ends':
			case 'contains':
				var path = pathVal;
				break;
		}
		window.open(base + path);
	}
	
	function loadSettingsModal() {
		$('#settings-modal').load('index.php?route={{ controller_path }}/loadSettingsModal&user_token={{ token }}');
	}
	
	function validateForm() {
		
		if ( $('input[name^="analytics_fb_marketing"]').val() === '' ) {
			$(this).after('<span class="error"> Please enter a value </span>');
		} else {
		 	saveData();
		}	
	}
	
	function saveData() {
		$.ajax({
			url:'index.php?route={{ controller_path }}/saveSettings&user_token={{ token }}',
			type: 'post',
			dataType: 'json',
			data: { settings : $('#form-fb-marketing').serialize() },
			
			success: function(json) {
				alertJson('alert alert-success', json);
			},
			error: function(json) {
				alertJson('alert alert-warning', json);
			}
		});
		return false;
	}
	
	function saveAdvMatchingData(id) {
		$.ajax({
			url:'index.php?route={{ controller_path }}/toggleAdvMatchTypes&user_token={{ token }}',
			type: 'post',
			dataType: 'json',
			data: {
				id: id,
			},
			success: function(json) {
				alertJson('alert alert-success', json);
			},
			error: function(json) {
				alertJson('alert alert-warning', json);
			}
		});
	}
	
	function alertJson(action, json) {
		
		$('.alert').remove();
		
		window.scrollTo(0, 0);
		
		if (json['success']) {
			$(".panel-default").before('<div class="' + action + '">' + json['success'] + '</div>');
		} else if (json['warning']) {
			$(".panel-default").before('<div class="' + action + '">' + json['warning'] + '</div>');
		}
		
	}
	
	function activate(row) {
		
		$.ajax({
			url:'index.php?route={{ controller_path }}/toggle&user_token={{ token }}',
			type: 'post',
			dataType: 'json',
			data: {
				row: row,
			},
			success: function(json) {
				alertJson('alert alert-success', json);
				$('#inactive-' + row).replaceWith('<a  id="active-' + row + '" onclick="{% if permission %}deactivate(\'' + row + '\');{% endif %}" class="btn btn-sm btn-success" data-toggle="tooltip" title="{{ text_enabled }}"><i class="fa fa-minus-circle fa-rotate-90 fa-2x"></i></a>');
				$('#event-status-' + row).val(1);
			},
			error: function(json) {
				alertJson('alert alert-warning', json);
			}
		});
	
	}
	
	function deactivate(row) {
		
		$.ajax({
			url:'index.php?route={{ controller_path }}/toggle&user_token={{ token }}',
			type: 'post',
			dataType: 'json',
			data: {
				row: row,
			},
			success: function(json) {
				alertJson('alert alert-success', json);
				$('#active-' + row).replaceWith('<a id="inactive-' + row + '" onclick="{% if permission %}activate(\'' + row + '\');{% endif %}" class="btn btn-sm btn-danger" data-toggle="tooltip" title="{{ text_disabled }}"><i class="fa fa-minus-circle fa-rotate-90 fa-2x"></i></a>');
				$('#event-status-' + row).val(0);
			},
			error: function(json) {
				alertJson('alert alert-warning', json);
			}
		});
	}
	
	function copyToClipboard(selector) {
		  var copyText = document.getElementById(selector);
		  copyText.select();
		  document.execCommand("copy");
		  var json = { success: "Copied product feed URL <span class=\"text-primary\"><b>" + copyText.value + "</b></span> to clipboard!"};
		  alertJson('alert alert-success', json);
	}
//--></script>
<script type="text/javascript"><!--
	$('#pixel-config a:first').tab('show');
//--></script></div>
{{ footer }}